﻿@{
	ViewBag.Title = "Dashboard";
}
<section class="content">
	<div class="row col-sm-12">
		<div class="col-lg-4 col-xs-6">
			<div class="small-box bg-green">
				<div class="inner">
					<h3>A</h3>
					<p>Description</p>
				</div>
				<div class="icon">
					<i class="ion ion-android-contacts"></i>
				</div>
				<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div class="col-lg-4 col-xs-6">
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>B</h3>
					<p>Description</p>
				</div>
				<div class="icon">
					<i class="ion ion-clock"></i>
				</div>
				<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div class="col-lg-4 col-xs-6">
			<div class="small-box bg-red">
				<div class="inner">
					<h3>C</h3>

					<p>Description</p>
				</div>
				<div class="icon">
					<i class="ion ion-eye"></i>
				</div>
				<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
	</div>
</section>
