﻿@model Admin.Models.PayableItemModel

@{
    ViewBag.Title = "Details";
}

<h2 style="padding-top:10px;">Item Details</h2>

<div>
	<hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-warning" })
	@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
