﻿@model Admin.Models.PayableModel

@{
    ViewBag.Title = "Delete";
}

<h2 style="padding-top:10px;">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayableName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayableName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemIds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemIds)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.TotalAmount)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TotalAmount)
		</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
