﻿@model Admin.Models.PaymentModel

@{
    ViewBag.Title = "Create";
}

<h2 style="padding-top:10px;">Add Payment</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
		<h4>Please fill in the form below.</h4>
		<hr style="border-top:1px solid #dcd5d5" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				@Html.HiddenFor(model => model.BillingId)
				@Html.ValidationMessageFor(model => model.BillingId, "", new { @class = "text-danger" })
				@Html.Hidden("StudentId")
			</div>
		</div>
		<!--Payment Form-->
        <div class="col-sm-6">
			<div class="form-group">
				<label class="control-label col-md-3">Fullname</label>
				<div class="col-md-9">
					@Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", Readonly="readonly" } })
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3">Payable Name</label>
				<div class="col-md-9">
					@Html.HiddenFor(model => model.PayableName)
					@Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
					<select id="dd-PayableName" class="form-control">
						<option>Empty</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3">Balance</label>
				<div class="col-md-9">
					<input type="text" class="form-control" id="Balance" value="" readonly />
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<input type="submit" value="Create" class="btn btn-success" />
					@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
				</div>
			</div>
		</div>
		<!--Search Student-->
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="input-group">
					@Html.TextBox("SearchString", null, new { @class = "form-control", Placeholder = "Search by Name" })
					<span class="input-group-btn">
						<a href="#" id="btnSearch" class="btn btn-default" style="width:100%;">Search</a>
					</span>
				</div>
			</div>
			<hr />
			<div class="col-sm-12" id="resultlist">
				<div class="col-sm-12" id="loader-box" hidden>
					<img src="~/Content/images/loading.gif" class="img-responsive" style="margin: 0 auto;width: 80px;" />
				</div>
				<div id="usrbox" hidden>
					<div class="col-sm-12 usr-box">
						<div class="col-sm-2 no-pad">
							<a href="" class="btn btn-default" style="float:left;margin-top: 4px;"><span class="fa fa-arrow-left"></span></a>
						</div>
						<div class="col-sm-8">
							<h4>Alba, Alejo Demaraye</h4>
						</div>
						<div class="col-sm-2">
							<img src="~/Content/images/Icon-user.png" class="img-responsive" />
						</div>
					</div>
				</div>
				<p>
					<a href="@Url.Action("Register","Account", new { type = "Student"})" class="btn btn-default" target="_self">Add Profile</a>
				</p>
			</div>
		</div>
    </div>
}



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script>
        //ON LOAD
		$(document).ready(function () {
			
		})
		$('#SearchString').keypress(function (e) {
			if (e.which == 13) {
				e.preventDefault();
			}
		});

        $('#btnSearch').on('click', function () {
            var searchparam = $('#SearchString').val();
            if (searchparam.replace(" ", "") != "") {
                $(this).attr('disabled', 'disabled');
                $('#loader-box').show();
                $.ajax({
                    type: 'GET',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    url: '/Account/SearchStudent?param=' + searchparam,
                    contentType: "application/json",
                    success: function (data) {
                        $('#usrbox').empty();
                        if (data == "No Result") {
                        } else {
                            $.each(data, function (i, item) {
                                $('#usrbox').append(
                                    '<div class="col-sm-12 usr-box">' +
                                        '<div class="col-sm-2 no-pad">' +
                                            '<a href="#" data-id="' + item.Id + '" class="btn btn-default btn-select-student" style="float:left;margin-top: 4px;"><span class="fa fa-arrow-left"></span></a>' +
                                        '</div>' +
                                        '<div class="col-sm-8">' +
                                            '<h4 id="result-name">' + item.Lastname + ", " + item.Firstname + " " + item.Middlename + '</h4>' +
                                        '</div>' +
                                        '<div class="col-sm-2">' +
                                            '<img src="/Content/images/Icon-user.png" class="img-responsive" />' +
                                        '</div>' +
                                    '</div>'
                                );
                            })
                        }

                        $('#loader-box').hide();
                        $('#usrbox').show();
                        $('#btnSearch').removeAttr('disabled');
                    }
                });
            }
        });
        //CLICK ARROW FOR STUDENT
        $(document).on('click', '.btn-select-student', function () {
        	$('#StudentId').val($(this).attr('data-id'));
        	$('#Fullname').val($('#result-name').html());
        	$.ajax({
        		type: 'GET',
        		headers: {
        			'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
        		},
        		url: '/Billing/GetUserPayable?id=' + $('#StudentId').val(),
        		contentType: "application/json",
        		success: function (data) {
        			$('#dd-PayableName').empty();
        			if (data == "No Result") {
        			} else {
        				$.each(data, function (i, item) {
        					//alert(item.Payable.id)
        					$('#dd-PayableName').append(
								 '<option value="' + item.Payable.id + '" data-amt="' + item.Balance + '" data-billid="' + item.BillingId + '">' + item.Payable.PayableName + '</option>'
							);
        				})
        			}
        			$('#BillingId').val($('#dd-PayableName option:selected').attr('data-billid')); //set the value selected
        			$('#PayableName').val($('#dd-PayableName option:selected').text()); //set the value selected
        			$('#PayableId').val($('#dd-PayableName option:selected').val()); //set the value selected
        			$('#Balance').val($('#dd-PayableName option:selected').attr('data-amt'));
        		}
        	});
        });
        //SELECT Payables
        $(document).on('change', '#dd-PayableName', function () {
        	$('#BillingId').val($('#dd-PayableName option:selected').attr('data-billid')); //set the value selected
        	$('#PayableName').val($('#dd-PayableName option:selected').text()); //set the value selected
        	$('#Balance').val($('#dd-PayableName option:selected').attr('data-amt'));
        });
	</script>
}