﻿@model PagedList.IPagedList<Admin.Models.PaymentModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2 style="padding-top:10px;">Payment List</h2>

<div class="container col-sm-12 no-pad">
	<div class="col-sm-2 no-pad">
		@*@Html.ActionLink("Create New", "Create")*@
		<a class="btn btn-default" href="@Url.Action("Create","Payment")" style="width:100% !important;">Create</a>
	</div>
	<div class="col-sm-10 no-pad">
		@using (Html.BeginForm())
		{
			<div class="input-group">
				@Html.TextBox("SearchString", null, new { @class = "form-control", Placeholder = "Search by Name" })
				<span class="input-group-btn">
					<input type="submit" class="btn btn-default" value="Search" style="width:100%;" />
				</span>
			</div>
		}
		<br />
	</div>
</div>

<table class="table">
    <tr>
        <th>
			Fullname
        </th>
		<th>
			PayableName
		</th>
        <th>
			Amount
        </th>
        <th>
			Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.PayableName)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
		<td>
			@*<a href="@Url.Action("Edit", "Payment", new { id = item.id })" class="btn btn-warning btn-xs"><span class="fa fa-pencil"></span></a>
			<a href="@Url.Action("Details", "Payment", new { id = item.id })" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></a>*@
			<a href="@Url.Action("Delete", "Payment", new { id = item.id })" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></a>
		</td>
    </tr>
}

</table>



<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
