﻿@model Admin.Models.BillingModel

@{
    ViewBag.Title = "Details";
}

<h2 style="padding-top:10px;">Details</h2>

@Html.HiddenFor(model => model.StudentId)
@Html.HiddenFor(model => model.id)
@Html.HiddenFor(model => model.PayableId)
<div>
	<hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayableId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayableId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayableName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayableName)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.Amount)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Amount)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Paid)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Paid)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Balance)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Balance)
		</dd>
    </dl>
</div>
<p>
	@Html.ActionLink("Delete", "Delete", new { id = Model.id }, new { @class = "btn btn-danger" })
	@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>

<hr style="border-top:1px solid #dcd5d5" />

<h4>Payment History</h4>
<table class="table table-bordered">
	<thead>
		<tr style="background-color:#dcd5d5;">
			<th>Amount</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody id="pymnt-history">
		<tr>
			<td>
				<div class="col-sm-12" id="loader-box" hidden>
					<img src="~/Content/images/loading.gif" class="img-responsive" style="margin: 0 auto;width: 80px;" />
				</div>
			</td>
		</tr>
	</tbody>
</table>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script>
        //ON LOAD
		$(document).ready(function () {
			$.ajax({
				type: 'GET',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
				},
				url: '/Billing/GetPayhistory?billingid=' + $('#id').val(),
				contentType: "application/json",
				success: function (data) {
					$('#pymnt-history').empty();
					if (data == "No Result") {
					} else {
						$.each(data, function (i, item) {
							var jsonDate = item.Date;
							var _date = new Date(parseInt(jsonDate.substr(6), 10));
							_date = (_date.getDate() + '/' + (_date.getMonth() + 1) + '/' + _date.getFullYear());
							$('#pymnt-history').append(
								'<tr>' +
									'<td>' + item.Amount + '</td>' +
									'<td>' + _date + '</td>'+
								'</tr>'
							);
						})
					}
				}
			});
		})
		
	</script>
}