﻿@model PagedList.IPagedList<Admin.Models.EmployeeHireModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Hiring List";
}

<h2 style="padding-top:10px;">Hiring List</h2>

<div class="container col-sm-12 no-pad">
    <div class="col-sm-2 no-pad">
        @*@Html.ActionLink("Create New", "Create")*@
        <a class="btn btn-default" href="@Url.Action("Create","EmployeeHire", new { type = "Employee"})" style="width:100% !important;">Create</a>
    </div>
    <div class="col-sm-10 no-pad">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("SearchString", null, new { @class = "form-control", Placeholder = "Search by Name of Employee" })
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Search" style="width:100%;" />
                </span>
            </div>
        }
        <br />
    </div>
</div>

<table class="table">
    <tr style="background-color:#d5dde6;">
        <th>
			Fullname
        </th>
        <th>
			Position
        </th>
		<th>
			BasicPay
		</th>
        <th>
			HireDate
        </th>
        <th>
			Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.BasicPay)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a href="@Url.Action("Edit", "EmployeeHire", new { id = item.id })" class="btn btn-warning btn-xs"><span class="fa fa-pencil"></span></a>
            <a href="@Url.Action("Details", "EmployeeHire", new { id = item.id })" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></a>
            <a href="@Url.Action("Delete", "EmployeeHire", new { id = item.id })" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></a>
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
