﻿@model Admin.Models.PayrollModel

@{
    ViewBag.Title = "Delete";
}

<h2 style="padding-top:10px;">Delete Payroll</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basic_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basic_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basic_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basic_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularOT_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularOT_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularOT_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularOT_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestDayOT_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestDayOT_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestDayOT_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestDayOT_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allowances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Others_earnings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Others_earnings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalEarnings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalEarnings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tardiness_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tardiness_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tardiness_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tardiness_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Undertime_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Undertime_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Undertime_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Undertime_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absences_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absences_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absences_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absences_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashAdvances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashAdvances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSSContribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSSContribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSSLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSSLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHContribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHContribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WholdingTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WholdingTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDMFContribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDMFContribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDMFLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDMFLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_deductions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_deductions)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.TotalDeductions)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TotalDeductions)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-danger" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
