﻿@model PagedList.IPagedList<Admin.Models.PayrollModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Payroll List</h2>

<p>
	<a class="btn btn-default" href="@Url.Action("Create","Payroll")" style="width:100% !important;">Create</a>
</p>
<table class="table">
    <tr>
        <th>
			Fullname
        </th>
        <th>
			TotalEarnings
        </th>
        <th>
			TotalDeductions
        </th>
        <th>
			DateFrom
        </th>
        <th>
			DateTo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalEarnings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDeductions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo)
        </td>
		<td>
			<a href="@Url.Action("Edit", "Room", new { id = item.id })" class="btn btn-warning btn-xs"><span class="fa fa-pencil"></span></a>
			<a href="@Url.Action("Details", "Room", new { id = item.id })" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></a>
			<a href="@Url.Action("Delete", "Room", new { id = item.id })" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></a>
		</td>
    </tr>
}

</table>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
